-title @pro.title
-#=debug @pro.price_hash

.row
  .span9
    -if @is_adult.nil?
      .gd2
        .pull-left
          = render :partial => 'ads/a1'
        .pull-left.ml2e
          = render :partial => 'ads/a2'
        .clearfix
    .row-fluid
      .photo.span4
        -if @is_adult.nil?
          %img{:src=>@pro.image_src} 
      %address.span8
        -company = @pro.company
        -unless company
          Unverified Supplier
        -else
          %strong=link_to company.name,company.app_url
          %br
          =company.address
          %br
          =company.city_str
          %br
          %abbr{:title=>"Phone"} P:
          =company.phone
          %br
          =link_to_external company.website,company.website if url_valid?(company.website)


    .clearfix

    .entry-body
      -tags = %w(table tr td p strong)
      -tags << 'img' if @is_adult.nil?
      =sanitize(sanitize_desc(@pro.description),:tags=>tags)
    -if @is_adult.nil?
      .gd1
        = render :partial => 'ads/eb_center'
  .span3
    -topics= Topic.related(@pro.title,10)
    -if topics.present?
      .prelated
        Related topics
        %ul.unstyled
          -topics.each do |t|
            %li=link_to t.name,t.app_url
    -if params[:debug]
      =link_to 'source',@pro.trackback
    -prods=@pro.related
    -if prods.present?
      .prods_related
        Related products
        %ul.unstyled
          -prods.each do |p|
            %li=link_to p.title,p.app_url

